In [1]:
import scipy.sparse
import networkx as nx
import numpy as np
import pandas as pd

from sklearn.decomposition import TruncatedSVD

In [2]:
'''
Retrieve the array obtained by apllying the dimentinality reductin algorithm
graph_matrix: SHAPE: (channels, n_comp)
'''
n_comp = 100
graph_matrix = np.load('../../../dlabdata1/youtube_large/jouven/graph_matrix_reduced_'+str(n_comp)+'.npz')
graph_matrix = graph_matrix['arr_0']
df = pd.DataFrame(graph_matrix)

In [3]:
df = df.rename(lambda x: 'dr'+str(x), axis='columns')

In [4]:
df.head()

,dr0,dr1,dr2,dr3,dr4,dr5,dr6,dr7,dr8,dr9,...,dr90,dr91,dr92,dr93,dr94,dr95,dr96,dr97,dr98,dr99
0,3.018157,2.509277,-1.370723,-1.205678,-2.077085,-0.748989,0.437611,2.537465,-1.731717,-0.114104,...,0.974993,-0.143376,-0.729617,-0.515721,0.315433,-0.191263,-0.674181,0.174488,-0.073058,0.621586
1,8.037677,4.613102,1.003205,0.260758,2.158020,-4.919136,1.621984,0.779602,2.237350,2.801619,...,-0.336494,-1.371229,0.179859,0.369716,-0.389812,1.264666,-0.229699,1.586221,-1.418451,0.271835
2,21.643678,4.486470,17.017157,4.962999,5.291304,-7.874998,-0.042691,5.202206,5.295215,3.251305,...,-2.104652,0.608644,0.703682,-0.257875,3.888233,0.038692,-2.837508,0.426321,-9.144216,-0.487479
3,367.470984,-22.194127,-71.681107,-28.139755,-121.998349,-263.544879,40.496879,-23.376364,14.612315,31.488587,...,29.008895,31.852710,-6.287666,-4.210324,5.822242,14.677172,16.936769,-10.111685,-4.317353,-21.152199
4,27.062345,3.521666,8.440126,2.053278,10.615795,-12.821902,-3.522644,-7.847089,-14.845781,20.498245,...,4.906807,-0.820870,1.945574,0.783990,-0.920751,-2.397320,3.924135,3.733795,9.981712,2.638012

In [5]:
df = df.reset_index()
df = df.rename(columns = {'index': 'source'})
df.head()

,source,dr0,dr1,dr2,dr3,dr4,dr5,dr6,dr7,dr8,...,dr90,dr91,dr92,dr93,dr94,dr95,dr96,dr97,dr98,dr99
0,0,3.018157,2.509277,-1.370723,-1.205678,-2.077085,-0.748989,0.437611,2.537465,-1.731717,...,0.974993,-0.143376,-0.729617,-0.515721,0.315433,-0.191263,-0.674181,0.174488,-0.073058,0.621586
1,1,8.037677,4.613102,1.003205,0.260758,2.158020,-4.919136,1.621984,0.779602,2.237350,...,-0.336494,-1.371229,0.179859,0.369716,-0.389812,1.264666,-0.229699,1.586221,-1.418451,0.271835
2,2,21.643678,4.486470,17.017157,4.962999,5.291304,-7.874998,-0.042691,5.202206,5.295215,...,-2.104652,0.608644,0.703682,-0.257875,3.888233,0.038692,-2.837508,0.426321,-9.144216,-0.487479
3,3,367.470984,-22.194127,-71.681107,-28.139755,-121.998349,-263.544879,40.496879,-23.376364,14.612315,...,29.008895,31.852710,-6.287666,-4.210324,5.822242,14.677172,16.936769,-10.111685,-4.317353,-21.152199
4,4,27.062345,3.521666,8.440126,2.053278,10.615795,-12.821902,-3.522644,-7.847089,-14.845781,...,4.906807,-0.820870,1.945574,0.783990,-0.920751,-2.397320,3.924135,3.733795,9.981712,2.638012

In [6]:
'''
Need to prepare the dataframe before transforming the dataframe into a networkx graph.
we need source and dest columns corresponding the edge and a weight column.
'''

df_prepared_for_graph = df.melt(id_vars=["source"], 
        var_name="dest", 
        value_name="weight")

In [7]:
df_prepared_for_graph.head()

   source dest      weight
0       0  dr0    3.018157
1       1  dr0    8.037677
2       2  dr0   21.643678
3       3  dr0  367.470984
4       4  dr0   27.062345

In [8]:
graph = nx.from_pandas_edgelist(df_prepared_for_graph, 'source', 'dest', ['weight'], create_using = nx.DiGraph())

In [9]:
graph[0]['dr0']['weight']

3.0181574379196223